:root {
  --font: 'Montserrat', sans-serif;
  --width-count: 50rem;
  --blue: #14509b;
  --website-bg: #ebebeb;
  --color-text: #000;
  --color-alt-text: #fff;
  --content-bg: #fff;
  --color-shadow: #000;
}

body {
  background-color: var(--website-bg);
  font-family: var(--font);
  color: var(--color-text);
}

.container {
  width: var(--width-count);
  margin: 0 auto;
}

.header {
  background-color: var(--blue);
}