:root {
  --font: "Montserrat", sans-serif;
  --width-count: 50rem;
  --blue: #14509b;
  --website-bg: #ebebeb;
  --color-text: #000;
  --color-alt-text: #fff;
  --content-bg: #fff;
  --color-shadow: #b3b3b3;
  --color-active-link: orange;
  --color-border: #b3b3b3a7;
  --color-icon-gh: #24292f;
  --color-icon-in: #0a66c2;
  --color-icon-vk: #0077ff;
  --color-bg-table: #f5f4f4;
  --color-border-table: #e6e6e6a7;
  --color-alt-bg-table: #d6d6d6a7;
}

body {
  background-color: var(--website-bg);
  font-family: var(--font);
  color: var(--color-text);
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--website-bg);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color-active-link), var(--blue));
  border-radius: 8px;
  border: 2px solid var(--website-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-active-link);
}

.container {
  width: var(--width-count);
  margin: 0 auto;
}

.header {
  background-color: var(--blue);
}

.header__nav {
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
}

.header__nav span {
  color: var(--color-alt-text);
  align-self: center;
}

.header__nav-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav-item {
  padding: 0.9375rem 0;
}

.header__nav-item + .header__nav-item {
  margin-left: 1.25rem;
}

.header__nav-link {
  text-decoration: none;
  color: var(--color-alt-text);
}

.header__nav-item:active {
  transform: translateY(1px);
}

.active {
  color: var(--color-active-link);
}

.header__nav-link:hover {
  color: var(--color-active-link);
  transition: 0.4s;
}

ul {
  margin: 0;
}

.main,
.footer {
  margin-top: 1.25rem;
}

.main__wrapper,
.footer__wrapper {
  background-color: var(--content-bg);
  padding: 1.25rem;
  box-shadow: 0 0.5rem 1rem -0.3125rem var(--color-shadow);
}

.main__title {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
}

.converter {
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem 0;
  margin-bottom: 3.75rem;
}

.coverter__column {
  display: flex;
}

.arrows {
  align-items: center;
}

.sel-dropdown {
  padding: 0.6875rem 0.4375rem;
  width: 8.75rem;

  border: 1px solid var(--color-border);
  cursor: pointer;
  background-color: var(--website-bg);
}

.converter__input {
  width: 8.75rem;
  padding: 0.6875rem 0.4375rem;
  border: 1px solid var(--color-border);
  background-color: var(--website-bg);
  outline: 0;
}

.course-schedule {
  margin-top: 1.25rem;
  width: 100%;
  height: 31.25rem;
}

.course-schedule__header {
}

.course-schedule__title {
  font-size: 1.5rem;
}

.course-schedule__description {
  font-size: 1rem;
  line-height: 1.625rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__link img {
  width: 3.125rem;
  height: 3.125rem;
}

.footer__title {
  color: var(--blue);
  margin-left: 0.625rem;
  font-size: 1.5rem;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social-item {
  font-size: 2.5rem;
  cursor: pointer;
}

.gh {
  color: var(--color-icon-gh);
}

.gh:hover {
  color: rgb(87, 87, 87);
}

.in {
  color: var(--color-icon-in);
}

.in:hover {
  color: #267ed6;
}

.vk {
  color: var(--color-icon-vk);
}

.vk:hover {
  color: #2489fb;
}

.gh:active,
.in:active,
.vk:active {
  transform: translateY(1px);
}

.footer__social-item + .footer__social-item {
  margin-left: 0.5rem;
}
/* ///////////////////////// */
.exchanger__description {
  margin-bottom: 2.5rem;
}

.exchanger__row {
  margin: 0 auto;
  width: 30.375rem;
}

.exchanger__column {
  box-sizing: border-box;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: var(--website-bg);
  border: 1px solid var(--color-border);
}

.exchanger__column:hover {
  border: 1px solid var(--blue);
}

.exchanger__column + .exchanger__column {
  margin: 3rem 0 2rem 0;
}

.exchanger__input-title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: start;
}

.exchanger__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem;
}

.exchanger__input {
  width: 100%;
  height: 1.5rem;
  font-size: 1.25rem;
  background-color: var(--website-bg);
  border: none;
  line-height: 1.3125rem;
  outline: 0;
  letter-spacing: 1px;
}

.exchanger__select-coin {
  width: 7.25rem;
  display: flex;
  background-color: var(--content-bg);
  border-radius: 3.125rem;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-border);
  font-size: 1rem;
  font-weight: 500;
}

.exchanger__select-coin:hover {
  transition: 0.2s;
  background-color: var(--blue);
  color: var(--color-alt-text);
}

.exchanger__select-coin span {
  margin: 0 0.5rem;
}

.exchanger__select-coin img {
  width: 1.5rem;
  height: 1.5rem;
}

.exchanger__select-coin svg {
  width: 1rem;
  height: 1rem;
  transform: rotate(-90deg);
}

.exchanger__btn {
  width: 100%;
  height: 3rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--blue);
  color: var(--color-alt-text);
  cursor: pointer;
  letter-spacing: 1px;
}

.exchanger__btn:active {
  transform: translateY(1px);
}

.exchanger__btn:hover {
  background-color: #2a67b1;
  transition: 0.2s;
}

/* /////////////////////////////// */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: var(--color-bg-table);
  border-spacing: 0;
  border: 1px solid var(--color-border);
}

.table th,
.table td {
  padding: 10px;
  font-weight: 400;
}

.table thead th {
  font-weight: 500;
}

.table thead th:nth-child(odd) {
  background-color: var(--color-alt-bg-table);
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-bg-table);
}

.table tbody tr:hover {
  background-color: var(--color-border);
  transition: 0.3s;
}

.table tbody th:not(:last-child) {
  border-right: 2px solid var(--color-border-table);
}

.portfolio__title {
  font-size: 20px;
  margin-top: 30px;
}

.total-cost {
  display: flex;
}

.total-cost__column {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.total-cost__column {
  width: 100%/3;
}

.bg-numbers {
  background-color: var(--color-bg-table);
  padding: 15px 10px;
}

.total-cost__item {
  text-align: center;
}

.total-cost__value {
  font-size: 18px;
  font-weight: 500;
}

.total-cost__currency {
  font-size: 12px;
  margin-top: 10px;
}
