:root {
  --font: "Montserrat", sans-serif;
  --width-count: 50rem;
  --blue: #14509b;
  --website-bg: #ebebeb;
  --color-text: #000;
  --color-alt-text: #fff;
  --content-bg: #fff;
  --color-shadow: #b3b3b3;
  --color-active-link: orange;
}

body {
  background-color: var(--website-bg);
  font-family: var(--font);
  color: var(--color-text);
}

.container {
  width: var(--width-count);
  margin: 0 auto;
}

.header {
  background-color: var(--blue);
}

.header__nav {
  padding: 0 1.25rem;
}

.header__nav-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav-item {
  padding: 0.9375rem 0;
}

.header__nav-item + .header__nav-item {
  margin-left: 1.25rem;
}

.header__nav-link {
  text-decoration: none;
  color: var(--color-alt-text);
}

.active {
  color: var(--color-active-link);
}

.header__nav-link:hover {
  color: var(--color-active-link);
  transition: 0.4s;
}

ul {
  margin: 0;
}

.main,
.footer {
  margin-top: 1.25rem;
}

.main__wrapper,
.footer__wrapper {
  background-color: var(--content-bg);
  padding: 1.25rem;
  box-shadow: 0 8px 16px -5px var(--color-shadow);
}

.main__title {
  margin: 0 0 1.25rem 0;
  font-size: 1.75rem;
}

.convertor {
  display: flex;
  justify-content: space-evenly;
}

.course-schedule {
  margin-top: 1.25rem;
  width: 100%;
  height: 31.25rem;
}

.footer__wrapper {
  display: flex;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__link img {
  width: 3.125rem;
  height: 3.125rem;
}

.footer__title {
  color: var(--blue);
  margin-left: 0.625rem;
}
